{% extends "base.html" %}

{% block title %}{{ tournament.name }} - Bracket - Pickleball Tournament Platform{% endblock %}

{% block styles %}
    {{ super() }}
    {% include 'tournament/bracket_sections/_styles.html' %}
{% endblock %}

{% block content %}
    {% include 'tournament/bracket_sections/_header.html' %}

    {% include 'tournament/bracket_sections/_main_content_start.html' %}

    {% include 'tournament/bracket_sections/_no_bracket_message.html' %}

    {% if has_group_stage %}
        {# Include desktop and mobile views for Group + Knockout format #}
        {% include 'tournament/bracket_sections/_group_knockout_tabs_desktop.html' %}
        {% include 'tournament/bracket_sections/_group_knockout_tabs_mobile.html' %}
    {% else %}
        {# Include desktop and mobile views for Standard Elimination format #}
        {% include 'tournament/bracket_sections/_elimination_bracket_desktop.html' %}
        {% include 'tournament/bracket_sections/_elimination_bracket_mobile.html' %}
    {% endif %}

    {# Close the main content div started in _main_content_start.html #}
    </div> 

    {% include 'tournament/bracket_sections/_footer.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'tournament/bracket_sections/_scripts.html' %}
{% endblock %}
